.homepage {
  &__content {
    background-image: url("/images/header-bg.png");
    background-size: cover;
    background-position: center top;
    padding: 5em 0;

    h1 {
      color: var(--primary-color);
      text-align: center;
      max-width: 550px;
      margin: auto;
    }
  }

  // Wines
  &__wines {
    color: var(--tertiary-color);

    &-wine {
      display: grid;
      grid-template-columns: 1fr 2fr;
      background-size: cover;
      background-position: center;
      padding: 3em 0;

      &.reverse {
        grid-auto-flow: dense;
        direction: rtl;

        .homepage__wines-features {
          border-color: var(--secondary-color);
        }

        @media only screen and (max-device-width: 480px) {
          .homepage__wines-image img {
            width: 150%;
            margin-right: 0em;
            margin-left: 4em;
          }
        }
      }
    }

    &-image {
      justify-content: center;
      align-items: center;
      display: flex;
      overflow: hidden;

      img {
        width: 50%;
      }
      @media only screen and (max-device-width: 480px) {
        img {
          width: 150%;
          margin-right: 4em;
        }
      }
    }

    &-features {
      border-left: solid 1em var(--primary-color);
      padding-left: 0.5em;
    }

    &-content {
      justify-content: center;
      display: flex;
      align-items: center;
      direction: ltr;

      &__spacing {
        max-width: 550px;
      }
    }
  }
}
