.list{
    background-color: var(--tertiary-color);
    color: #ffffff;
    cursor: pointer;
    min-height: 100vh;
    padding-bottom: 5em;

    a, a:visited, a:hover{
        text-decoration: none;
        color: #ffffff;
    }

    &__header{
        text-align: center;
        background-size: cover;
        background-position: bottom center;
        min-height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        @include fluid-type(1.5em, 2.5em);
    }
}