.navigation{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    .language-selector{
        color: var(--primary-color);
    }
    
    ul{
        display: flex;
        li{
            margin: 0.5em;
        }
        a, a:visited{
            cursor: pointer;
            color: var(--primary-color);
            text-decoration: none;
        }
    }
}