.navigation{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    .language-selector{
        color: var(--tertiary-color);
    }
    
    ul{
        display: flex;
        li{
            margin: 0.5em;
        }
        a{
            text-decoration: none;
        }
    }
}