{{ define "main" }}
    <main aria-role="main" class="homeage">
      <header class="homepage__header">
        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
      </header>
      <div class="homepage__content">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}
      </div>

      <div class="homepage__wines">
      {{ range $index, $element := (where .Site.Pages "Params.featured" true)}}
        {{if eq .Type "wines" }}
        <div class="homepage__wines-wine {{if not (modBool $index 2)}}reverse{{end}}" style="background-image: url(/images/wine-bg-{{ $index }}.png)">
          <div class="homepage__wines-image">
            <img src="{{ .Params.image }}" alt="{{ .Title }}"/>
          </div>
          <div class="homepage__wines-content">
            <div class="homepage__wines-content__spacing m-3">
              <h1 class="mb-1">{{ .Title }}</h1>
              <div class="mb-1 italic homepage__wines-features">
                {{if .Params.year}}<p>{{ i18n "year" }}: {{ .Params.year }}</p>{{end}}
                {{if .Params.recommendation}}<p>{{ i18n "recommendation" }}: {{ .Params.recommendation }}</p>{{end}}
                {{if .Params.variety}}<p>{{ i18n "variety" }}: {{ .Params.variety }}</p>{{end}}
              </div>
              {{ .Content }}
            </div>
          </div>
        </div>
        {{ end }}
      {{ end }}
    </div>

    <section class="homepage__about">
      {{ with .Site.GetPage "page" "about" }}
      <div class="homepage__about__content mb-4">
        <div>
          <img class="homepage__about__light" src="/images/light-bulb.png" alt="light-bulb" />
          <h1 class="mb-2">{{ .Title}}</h1>
          {{.Summary}}
        </div>
      </div>
      <div class="homepage__about__img-container">
        <img class="homepage__about__img" src="{{.Params.image}}" alt="Andre" />
      </div>
      {{ end }}
    </section>
    

    </main>
{{ end }}

{{ define "footer" }}
  {{ partial "footer" . }}
{{end}}