{{ define "main" }}
    <main aria-role="main" class="homeage">
      <header class="homepage__header">
        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
      </header>
      <div class="homepage__content">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}
      </div>

      <div class="homepage__wines">
      {{ range $index, $element := (where .Site.Pages "Params.featured" true)}}
        {{if eq .Type "wines" }}
        <div class="homepage__wines-wine {{if not (modBool $index 2)}}reverse{{end}}" style="background-image: url(/images/wine-bg-{{ $index }}.png)">
          <div class="homepage__wines-image">
            <img src="/images/wine-1.png" alt="{{ .Title }}"/>
          </div>
          <div class="homepage__wines-content">
            <div class="homepage__wines-content__spacing m-2">
              <h1 class="mb-1">{{ .Title }}</h1>
              <div class="mb-1 italic">
                {{if .Params.year}}<p>{{ i18n "year" }}: {{ .Params.year }}</p>{{end}}
                {{if .Params.recommendation}}<p>{{ i18n "recommendation" }}: {{ .Params.recommendation }}</p>{{end}}
              </div>
              {{ .Content }}
            </div>
          </div>
        </div>
        {{ end }}
      {{ end }}
    </div>

    </main>
{{ end }}

{{ define "footer" }}
  {{ partial "footer" . }}
{{end}}